<div class="product-inner mb-2" id="removeDiv"> 
  {{!-- Product Image --}}
  <div class="product-image">
    <a href="">
      <img src="/img/backpack.jpeg" alt="">
    </a>
  </div>
  {{!-- End Product Image --}}
  {{!-- Product Price --}}
  <div class="product-name">
    <p>{{productName}}</p>
  </div>
  {{!-- End Product Price --}}
  {{!-- Product Price --}}
  <div class="product-price">
    <p>{{productPrice}}</p>
  </div>
  {{!-- End Product Price --}}
  {{!-- Product Quantity --}}
  <div class="product-qty">
    <p>{{productQty}}</p>
  </div>
  {{!-- End Product Quantity --}}
  {{!-- Product Remove --}}
  <div class="product-remove">
  <button class="remove-item" data-id={{dataValues.id}}><i class="fal fa-trash trash-red"></i></button>
  </div>
  {{!-- End Product Remove --}}
  {{!-- Product total --}}
  <div class="product-total">
    <p><strong>$19.98</strong></p>
  </div>
  {{!-- End Product Total --}}
</div> 