{{!-- Product Image --}}
  <div class="product-image">
    <a href="">
      <img src="/img/backpack.jpeg" alt="">
    </a>
  </div>
  {{!-- End Product Image --}}
  {{!-- Product Price --}}
  <div class="product-name">
    <p>Backpack</p>
  </div>
  {{!-- End Product Price --}}
  {{!-- Product Price --}}
  <div class="product-price">
    <p>$9.99</p>
  </div>
  {{!-- End Product Price --}}
  {{!-- Product Quantity --}}
  <div class="product-qty">
    <p>2</p>
  </div>
  {{!-- End Product Quantity --}}
  {{!-- Product Remove --}}
  <div class="product-remove">
    <a href="/cart"><i class="fal fa-trash trash-red"></i></a>
  </div>
  {{!-- End Product Remove --}}
  {{!-- Product total --}}
  <div class="product-total">
    <p><strong>$19.98</strong></p>
  </div>
  {{!-- End Product Total --}}