{{!-- Navigation --}}
<nav class="nav grid-container-navigation">
  {{> nav/navigation }}
</nav>
{{!-- End Navigation --}}

<div class="container">
  <h1 class="text-center mb-4">Your Cart</h1>

  <div class="product-inner-headings">
      {{!-- Product Image --}}
      <div class="product-image-heading">
        <h5>Products</h5>
      </div>
      {{!-- End Product Image --}}
      {{!-- Product Price --}}
      <div class="product-name-heading">
        <h5>Product</h5>
      </div>
      {{!-- End Product Price --}}
      {{!-- Product Price --}}
      <div class="product-price-heading">
        <h5>Price</h5>
      </div>
      {{!-- End Product Price --}}
      {{!-- Product Quantity --}}
      <div class="product-qty-heading">
        <h5>Quantity</h5>
      </div>
      {{!-- End Product Quantity --}}
      {{!-- Product Remove --}}
      <div class="product-remove-heading">
        <h5>Remove</h5>
      </div>
      {{!-- End Product Remove --}}
      {{!-- Product total --}}
      <div class="product-total-heading">
        <h5>Total</h5>
      </div>
      {{!-- End Product Total --}}
    </div>

  <div class="product-row">
    <div class="product-inner">
      {{!-- Product Image --}}
      <div class="product-image">
        <a href="">
          <img src="/img/backpack.jpeg" alt="">
        </a>
      </div>
      {{!-- End Product Image --}}
      {{!-- Product Price --}}
      <div class="product-name">
        <p>Backpack</p>
      </div>
      {{!-- End Product Price --}}
      {{!-- Product Price --}}
      <div class="product-price">
        <p>$9.99</p>
      </div>
      {{!-- End Product Price --}}
      {{!-- Product Quantity --}}
      <div class="product-qty">
        <p>1</p>
      </div>
      {{!-- End Product Quantity --}}
      {{!-- Product Remove --}}
      <div class="product-remove">
        <i class="fal fa-trash"></i>
      </div>
      {{!-- End Product Remove --}}
      {{!-- Product total --}}
      <div class="product-total">
        <p><strong>Item Total:</strong></p>
      </div>
      {{!-- End Product Total --}}
    </div>
  </div>
</div>


