{{!-- Navigation --}}
<nav class="nav grid-container-navigation">
  {{> nav/navigation }}
</nav>
{{!-- End Navigation --}}
<main class="comntainer">
  <div class="inner">

    <div class="product-image">
      <a href="">
        <img src="{{productImage}}" alt="">
      </a>
    </div>

    <div class="product-name">
      <p>{{productName}}</p>
    </div>

    <div class="product-price">
      <p>{{productDesc}}</p>
    </div>

    <div class="product-price">
      <p>{{productPrice}}</p>
    </div>

  </div>
</main>