<form id= 'donationForm'> 
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="itemDescription" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit Donation</button>
</form>