{{!-- Navigation --}}
<nav class="nav grid-container-navigation">
  {{> nav/navigation }}
</nav>
{{!-- End Navigation --}}

<div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-2 mt-4">
          <a class="btn btn-light" href="/blog">Go to Blog</a>
        </div>
      </div>
      <div class="col-md-5 offset-md-3">
        <form id="cms">
          <div class="form-group">
            <label for="product">Product Name:</label>
            <input type="text" class="form-control" id="title">
            <br />
            <label for="description">Description:</label>
            <textarea class="form-control" rows="10" id="body"></textarea>
            <div class="form-group">
              <label for="category">Select Category:</label>
              <select class="custom-select" id="category">
                <option value="school supplies">School Supplies</option>
                <option value="shoes">Shoes</option>
                <option value="personal hygene">Personal Hygene</option>
                <option value="professional outfits">Professional Outfits</option>
                <option value="winter clothes">Winter Clothes</option>
              </select>
              <br />
              <label for="price">Price:</label>
            <input type="text" class="form-control" id="title">
            <br />
            <label for="image">Image:</label>
            <textarea class="form-control" rows="10" id="body"></textarea>

            </div>
            <br />
            <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>