{{!-- Navigation --}}
<nav class="nav grid-container-navigation">
  {{> nav/navigation }}
</nav>
{{!-- End Navigation --}}

<div class="container">
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="form-group">
          <select class="custom-select" id="category">
            <option selected value="">All Categories</option>
            <option value="School Supplies">School Supplies</option>
            <option value="Shoes">Shoes</option>
            <option value="Personal Hygene">Personal Hygene</option>
            <option value="Professional Outfits">Professional Outfits</option>
            <option value="Winter Clothes">Winter Clothes</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <a class="btn btn-light" href="/cms">New Post</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 blog-container">
      </div>
    </div>
  </div>