{{!-- Navigation --}}
<nav class="nav grid-container-navigation">
  {{> nav/navigation }}
</nav>
{{!-- End Navigation --}}

{{!-- Search Input --}}
<div class="container">
  <div class="grid-container-search">
    {{> search/search }}
  </div>
</div>
{{!-- End Search Input --}}

{{!-- Product Card --}}
<div class="container">
  <div class="grid-container-products">
    {{> card/card }}
 
    {{> card/card2 }}

    {{> card/card3 }}
  </div>
</div>
{{!-- End Product Cards --}}