{{!-- Navigation --}}
<nav class="nav grid-container-navigation">
  {{> nav/navigation }}
</nav>
{{!-- End Navigation --}}

{{!-- Search Input --}}
<div class="container">
  <div class="grid-container-search">
    {{> search/search }}
  </div>
</div>
{{!-- End Search Input --}}

{{!-- Product Card --}}
<div class="container">
  <div class="grid-container-products">
    {{> card/card }}
 
    {{> card/card2 }}

    {{> card/card3 }}
    {{!-- dropdown --}}

{{!-- <script>
  $(document).ready(function () { 
    $("#category").change(function() {
      {{!-- is selected option inscope? look at syntax --}}
     var selectedOption = $(this).val() 
     $(".grid-container-products").empty()
     {{!-- {{Product.findAll({where:{ --}}
        productCategory:selectedOption 
       }
     }).then(function (res) {
       {{> card/card }}
 
        {{> card/card2 }}

          {{> card/card3 }}

     })
     }}
    }
  }) 
</script> --}}
  </div>
</div>
{{!-- End Product Cards --}}