{{!-- Navigation --}}
<nav class="nav grid-container">
  <div class="nav-left">
    <ul>
      <li>
        <a href="/">Good Deeds</a>
      </li>
    </ul>
  </div>

  <div class="nav-right">
    <ul class="icons">
      <li class="nav-li">
        <a href=""><i class="fal fa-plus"></i> Add Product</a>
      </li>
      <li class="nav-li">
        <a href=""><i class="fal fa-shopping-cart"></i> My Cart</a>
      </li>
      <li class="nav-li li-less-padding">
        <a href=""><i class="fal fa-user"></i> Login</a>
      </li>
    </ul>
  </div>
</nav>
{{!-- End Navigation --}}

{{!--  --}}