
  {{!-- Navigation --}}
  <nav class="nav grid-container-navigation">
    {{> nav/navigation }}
  </nav>
  {{!-- End Navigation --}}

<main class="container">
  {{!-- Search Input --}}
  <div class="grid-container-search">
    {{> search/search }}
  </div>
  {{!-- End Search Input --}}

  {{!-- Product Card --}}
  <div class="grid-container-products">
    {{> card/card }}
  </div>
  {{!-- End Product Cards --}}
</main>