.product-row {
  display: grid;
}

.product-inner {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 2rem;
  padding: 1rem;
  background-color: #dee2e6;
}

.product-inner-headings {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 2rem;
  padding: 1rem;
}

.product-image {
  width: 180px;
}

.product-image > a {
  padding: 0;
}

.product-image-heading {
  width: 180px;
}

.product-name,
.product-price,
.product-qty,
.product-remove,
.product-total {
  align-self: center;
}

.product-name > p,
.product-price > p,
.product-qty > p,
.product-remove > p,
.product-total > p {
  margin: 0;
}

.cart-details {
  display: grid;
  margin-top: 2rem;
}

.cart-details > a {
  padding: 0; 
  justify-self: end;
  margin-bottom: .5rem;
}

.cart-details > p {
  justify-self: end;
}

.wide-btn {
  width: 150px;
  justify-self: end;
  margin-bottom: 5px;
}

.trash-red {
  color: rgb(219, 59, 33);
}