
<div class="form-group">
  <select class="custom-select" id="category">
    <option selected value="">All Categories</option>
    <option value="School Supplies">School Supplies</option>
    <option value="Shoes">Shoes</option>
    <option value="Personal Hygene">Personal Hygene</option>
    <option value="Professional Outfits">Professional Outfits</option>
    <option value="Winter Clothes">Winter Clothes</option>
  </select>
</div>

<div class="search">
    <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
    <div class="input-group-prepend">
      <span><i class="fal fa-search"></i></span>
    </div>
</div>