
<div class="form-group">
  <select class="custom-select" id="category">
    <option selected value="">All Categories</option>
    <option value="Personal">Personal</option>
    <option value="Product Review">Product Review</option>
    <option value="Political">Political</option>
  </select>
</div>

<div class="search">
    <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
    <div class="input-group-prepend">
      <span><i class="fal fa-search"></i></span>
    </div>
</div>