<div class="dropdown dropdown-button">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<div class="search">
    <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
    <div class="input-group-prepend">
      <span><i class="fal fa-search"></i></span>
    </div>
</div>