<div class="nav-left">
  <ul>
    <li>
      <a href="/">Good Deeds</a>
    </li>
  </ul>
</div>

<div class="nav-right">
  <ul class="icons">
    <li class="nav-li">
      <a href="/donate"><i class="fal fa-plus"></i> Add Product</a>
    </li>
    <li class="nav-li">
      <a href="/login"><i class="fal fa-user"></i> Login</a>
    </li>
    <li class="nav-li position-relative">
      <span class="cart-count">0</span>
      <a href="/cart"><i class="fal fa-shopping-cart"></i> My Cart</a>
    </li>
  </ul> 
</div>